{% extends 'domus/base_generic.html' %}
{% load static %}
{% block content %}
<div class="container-fluid control">
  <div class="row">
    {% include 'domus/nav_bar.html' %}
  </div>
  <div class="row">
    <form class="form-inline control-formular border border-dark rounded" action="{% url 'domus:controlPage'%}" method="post">
      {% csrf_token %}
      <div class="form-group mb-2">
        <input type="text" name="valeur" class="form-control btn btn-light"></input>
      </div>
      <div class="form-group mx-sm-1 mb-2" id="submit">
        <button type="submit" class="btn btn-primary">Confirmation</button>
      </div>
    </form>
  </div>
  <div class="row footer">
    {% include 'domus/footer.html' %}
  </div>
</div>
{% endblock %}
