{% extends 'domus/base_generic.html' %}
{% load static %}
{% block content %}

<div class="container-fluid index">

  <!-- bar navigation -->
  <div class="row">
    {% include 'domus/nav_bar.html' %}
  </div>

  <!-- index -->
  <div class="row index-corp">

    <!--Img-->
    <div class="col-sm-6">
        <img src="{% static 'domus/img/etablissement.png' %}" alt="", class="img-fluid">
    </div>

    <!--parameters-->
    <div class="col-sm-6 parameters border border-dark rounded">
      <div class="row">
        <form class="form-horizontal form-parameters">

          <!-- Main room -->
          <label for="text" class="label-group descriptif-label">Piece principale</label>
          <div class="row main-room border border-dark rounded">
            <div class="form-group">

              <!-- lighting -->
              <label for="text" class="control-label">luminaires:</label>
              <div class="row">

                <div class="col-sm-6">
                  <button id="lumOnMain" type="button" class="btn btn-primary">on</button>
                  <button id="lumOffMain" type="button" class="btn btn-light">off</button>
                </div>

                <div class="col-sm-6">
                  <div class="input-group">
                    <input id="lumPercentMain" type="text" class="form-control" placeholder="100" aria-label="percentage" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                  </div>
                </div>

              </div>

              <!-- plug -->
              <label for="text" class="control-label">Prises:</label>
              <div class="row">
                <div class="col-sm-6">
                  <button id="plugOnMain" type="button" class="btn btn-primary">on</button>
                  <button id="plugOffMain" type="button" class="btn btn-light">off</button>
                </div>
              </div>

            </div>
          </div>

          <!-- Bathroom -->
          <label for="text" class="label-group descriptif-label">Salle de bain</label>
          <div class="row sdb border border-dark rounded">
            <div class="form-group">
              <label for="text" class="control-label">luminaires:</label>

              <!-- lighting -->
              <div class="row">

                <div class="col-sm-6">
                  <button id="lumOnBath" type="button" class="btn btn-primary">on</button>
                  <button id="lumOffBath" type="button" class="btn btn-light">off</button>
                </div>

                <div class="col-sm-6">
                  <div class="input-group">
                    <input id="lumPercentBath" type="text" class="form-control" placeholder="100" aria-label="percentage" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                  </div>
                </div>

              </div>

                <!-- plug -->
                <label for="text" class="control-label">Prises:</label>
                <div class="row">
                  <div class="col-sm-6">
                    <button id="plugOnBath" type="button" class="btn btn-primary">on</button>
                    <button id="plugOffBath" type="button" class="btn btn-light">off</button>
                  </div>
                </div>

                <!-- heating -->
                <label for="text" class="control-label">Chauffage:</label>

                <div class="row">
                  <div class="col-sm-6">
                    <button id="heatingOnBath" type="button" class="btn btn-primary">on</button>
                    <button id="heatingOffBath" type="button" class="btn btn-light">off</button>
                  </div>

                  <div class="col-sm-6">
                    <div class="input-group">
                      <input id="heatingPercentBath" type="text" class="form-control" placeholder="20" aria-label="percentage" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">°C</span>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
          </div>

          <!-- Command -->
          <div class="row index-exec-group">
              <button type="button" class="btn btn-danger btn-lg btn-block">Tous désactiver</button>
          </div>

        </form>
      </div>
    </div>

  <!-- end-index -->
  </div>



  <!-- footer -->
  <div class="row footer">
    {% include 'domus/footer.html' %}
  </div>

</div>
{% endblock %}
