{% extends 'domus/base_generic.html' %}
{% load static %}
{% block content %}

<div class="container-fluid login">
  <div class="row">
    {% include 'domus/nav_bar.html' %}
  </div>
  <div class="row">
    <div class="col-sm-3">  </div>
    <div class="col-sm-6">
      <div class="row">
        <span><img src="{% static 'domus/img/logo_entreprise.png' %}" alt=""></span>
      </div>
      <div class="row">
        <span>
          <form class="form-group">
            {{ login.name }}
            {{ login.password }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
          </form>
        </span>

      </div>
    </div>
    <div class="col-sm-3">  </div>
  </div>
  <div class="row footer">
    {% include 'domus/footer.html' %}
  </div>
</div>
{% endblock %}
