{% extends 'domus/base_generic.html' %}
{% load static %}
{% block content %}

<div class="container-fluid settings">
    <!-- bar navigation -->
    <div class="row header">
        {% include 'domus/nav_bar.html' %}
    </div>
    <!--END bar navigation -->

    <!-- mention-legale-corp -->
    <div class="row mention-legale-corp border border-dark rounded">

      <!-- mention-legale -->
      <div class="row mention-legale">
         <h2>Conditions d'utilisation</h2>
         <p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir.
           En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>

         <p>Le site accessible par les url suivants : www.purbeurre30.herokuapp.com est exploité dans le respect de la législation française.
         L'utilisation de ce site est régie par les présentes conditions générales.
         En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.
         Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Arckatec_system.
         Arckatec_system ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</p>

         <h2>Limitation de responsabilité</h2>
         <p>Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour,
           mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes.
           Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement,
           merci de bien vouloir le signaler par email en décrivant le problème de la manière
           la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</p>

         <p>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence,
           Arckatec_system ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données
           consécutives au téléchargement.</p>

         <p>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres
           ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Arckatec_system.</p>

           <h2>Litiges</h2>
           <p>Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Arckatec_system. La langue de référence, pour le règlement de contentieux éventuels, est le français.
             Déclaration à la CNIL
             Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés</p>

           <h2>Droit d'accès</h2>
           <p>En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de Arckatec_system ou par voie électronique à l’adresse email suivante : contact@Arckatec_system.fr.
           Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.</p>
           <h2>Confidentialité</h2>
           <p>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution
             de la prestation.</p>

           <h2>Propriété intellectuelle</h2>
           <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos,
             gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Arckatec_system à l'exception des marques,
             logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
             Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle,
             de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Arckatec_system.
             Cette représentation ou reproduction, par quelque procédé que ce soit, constitue
             une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle.
             Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.
             En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.
             Arckatec_system est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.
             Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : www.purbeurre30.herokuapp.com, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de Arckatec_system.
             Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : contact@Arckatec_system.fr. Des conditions spécifiques sont prévues pour la presse.
             Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts : Bootstraps -Django HTML 5 / CSS3 / JS
           </p>

           <p>Les contenue sont libre d'usage avec mention de l'auteur:</br>
             Icon Carrot Tags By Fabien Jouin, DE</br>
             images: Ratatouille Pixar</br>
             hebergeur: Heroku
           </p>

           <p>
             Créé le : 24/04/2018<br>
             Auteur : Ledoux<br>
             E-mail de l'auteur : Ledoux.florian30@gmail.com<br>
             Hébergeur: Heroku</p>

            <br>

         <h2>Conditions de service</h2>
         <p> Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...
             Informations et exclusion
             Arckatec_system met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Arckatec_system, et signaler toutes modifications du site qu'il jugerait utile. Arckatec_system n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.</p>

         <h2>Cookies</h2>
         <p>Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies.
           Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation.
           Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>

         <h2>Liens hypertextes</h2>
         <p>Les sites internet de Arckatec_system peuvent offrir des liens vers d’autres sites
           internet ou d’autres ressources disponibles sur Internet.</p>

         <p>Arckatec_system ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Arckatec_system ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.
         Les utilisateurs, les abonnés et les visiteurs des sites internet de Arckatec_system ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Arckatec_system.
         Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Arckatec_system, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Arckatec_system se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
         </p>
         <h2>Recherche</h2>
         <p>En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon
           que Arckatec_system reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.</p>

         <h2>Précautions d'usage</h2>
         <p>Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous
           choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....</p>

         <h2>Responsabilité</h2>
         <p>Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par Arckatec_system apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Arckatec_system ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.</p>
         <h2>Contactez-nous</h2>
         <p>Arckatec_system est à votre disposition pour tous vos commentaires ou suggestions.
           Vous pouvez nous écrire en français par courrier électronique à : contact@Arckatec_system.fr.</p>
      </div>
      <!-- END mention-legale -->

    </div>
    <!-- END mention-legale-corp -->

    <!-- footer -->
    <div class="row footer">
        {% include 'domus/footer.html' %}
    </div>
    <!--END footer -->
</div>
{% endblock %}
