{% extends 'domus/base_generic.html' %}
{% load static %}
{% block content %}
<div class="container-fluid settings">
    <!-- bar navigation -->
    <div class="row header">
        {% include 'domus/nav_bar.html' %}
    </div>

    <!-- settings-corp -->
    <div class="container settings-corp border border-dark rounded">

      <!-- display info general -->
      <div class="row info-general">

        <!-- info general descriptif-label-->
        <div class="row info-general-label">
          <label for="text" class="label-group descriptif-label">Informations Generales</label>
        </div>
        <!-- END info general descriptif-label-->

        <!-- info general-->
        <div class="container border border-dark rounded info-general-forms">
          <form>
            <div class="form-row">
              <input type="text" class="form-control input-settings" placeholder="Nom">
              <input type="text" class="form-control input-settings" placeholder="Prénom">
              <input type="text" class="form-control input-settings" placeholder="E-mail">
            </div>
          </form>
        </div>
        <!-- END info general -->



        <!-- modification descriptif-label-->
        <div class="row info-general-label">
          <label for="text" class="label-group descriptif-label">Informations Generales</label>
        </div>
        <!-- END modification descriptif-label-->

        <!-- modification-->
        <div class="container border border-dark rounded info-general-forms">
          <form>
            <div class="form-row">
              <input type="text" class="form-control input-settings" placeholder="Nom">
              <input type="text" class="form-control input-settings" placeholder="Prénom">
              <input type="text" class="form-control input-settings" placeholder="E-mail">
              <input type="text" class="form-control input-settings" placeholder="Mot de passe">
              <input type="text" class="form-control input-settings" placeholder="Url APD">
            </div>
            <div class="row m-p">
              <button type="button" class="btn btn-primary">Confirmer</button>
            </div>
          </form>
        </div>
        <!-- END modification -->




      </div>
      <!-- END display info general -->

    </div>
    <!-- END settings-corp -->

    <!-- footer -->
    <div class="row footer">
        {% include 'domus/footer.html' %}
    </div>
</div>
{% endblock %}
